@model List<RefundDTO>
@{
    ViewBag.Title = "退貨列表";
}

<h2>退貨列表</h2>

<div id="app" class="container">
    <div class="row d-flex justify-content-end">
        <div class="col-sm-8 col-md-7 col-lg-7 mt-3">
            <div class="input-group">
                <button class="btn btn-info" data-toggle="modal" data-target="#searchOrderModal">申請退貨</button>
            </div>
        </div>
        <div class="col-sm-4 col-md-5 col-lg-5 mt-3">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Find By Order ID and Name ...">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <table class="table table-hover table-responsive mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>訂單編號</th>
                        <th>需要通知黑貓時間</th>
                        <th>客戶要求取件時間</th>
                        <th>備註</th>
                        <th colspan="2">收/取件人資訊</th>
                        <th>經辦人</th>
                        <th>編輯</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.TransactionID</td>
                            <td>@item.ShipmentDate</td>
                            <td>@item.AskDate</td>
                            <td>@item.Memo</td>
                            <td colspan="2">
                                <i class="fas fa-user"></i>: @item.SenderName<br>
                                <i class="fas fa-home"></i>: @item.SenderAddr<br>
                                <i class="fas fa-mobile-alt"></i>: @item.SenderPhone<br>
                            </td>
                            <td>管理員</td>
                            <td>
                                <button class="btn btn-primary">明細</button>
                                <button class="btn btn-danger">刪除資料</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Refund Apply -->
    <div class="modal fade" id="searchOrderModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">退貨申請</h5>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="transactionID">訂單編號</label>
                            <input class="form-control" type="text" v-model="transactionID">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" v-on:click="searchTransactionID()" v-on:keyup.13="searchTransactionID">查詢</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 增加訂單商品明細Modal -->
    <div class="modal fade" id="addOrderDetailModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">新增訂單明細</h5>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <label>訂單項目</label>
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>SKU</th>
                                <th>商品單價</th>
                                <th>數量</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr v-for="(item, key) in orderDetails" v-on:dblclick="editOrderDetail(item)">
                                <td>{{item.sku}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.amount}}</td>
                                <td><button class="btn btn-danger" v-on:click="removeOrderDetail(key)">移除</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                    <form action="#">
                        <div class="form-group">
                            <label for="SKU">SKU</label>
                            <div class="input-group">
                                <input class="form-control" type="text" id="tempOrderDetailSKU" v-model="tempOrderDetailSKU" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Price">商品單價</label>
                            <div class="input-group">
                                <input class="form-control" type="number" id="tempOrderDetailPrice" min="0" v-model="tempOrderDetailPrice">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Amount">數量</label>
                            <div class="input-group">
                                <input class="form-control" type="number" id="tempOrderDetailAmount" min="1" v-model="tempOrderDetailAmount">
                            </div>
                        </div>
                        <button class="btn btn-success" v-on:click="addOrderDetail()">更新</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" v-on:click="addOrder()">新增訂單</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 退貨項目明細Modal-->
    <div id="addOrderRefundModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">選擇訂單{{transactionID}}的退貨項目</h5>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>SKU</th>
                                <th>商品單價</th>
                                <th>數量</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, key) in orderDetails" v-on:dblclick="editOrderDetail(item)">
                                <td>{{item.sku}}</td>
                                <td>{{item.price}}</td>
                                <td>
                                    <select class="form-control" v-model="item.orderDetailTemp">
                                        <option :value="item.sku + '_0'" selected>0</option>
                                        <option v-for="value in item.amount" :value="item.sku+'_'+value">{{value}}</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" v-on:click="showRefundInfoModal">下一步</button>
                </div>
            </div>

        </div>
    </div>

    <!-- 退貨明細Modal-->
    <div class="modal fade" id="addRefundInfoModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">填寫退貨資料</h5>
                </div>
                <div class="modal-body">
                    <h5>退貨明細</h5>
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>SKU</th>
                                <th>商品單價</th>
                                <th>數量</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="refund in wantRefundForView">
                                <td>{{refund.sku}}</td>
                                <td>{{refund.price}}</td>
                                <td>{{refund.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                    <form action="#">
                        <div class="form-group">
                            <label for="transactionID">訂單編號</label>
                            <input class="form-control" type="text" v-model="transactionID" disabled>
                        </div>
                        <div class="form-group">
                            <label for="SenderName">取件人名稱</label>
                            <input class="form-control" type="text" v-model="senderName">
                        </div>
                        <div class="form-group">
                            <label for="SenderAddr">取件地址</label>
                            <input class="form-control" type="text" v-model="senderAddr">
                        </div>
                        <div class="form-group">
                            <label for="SenderPhone">取件人電話</label>
                            <input class="form-control" type="text" v-model="senderPhone">
                        </div>
                        <div class="form-group">
                            <label for="SenderAddr">取件時間</label>
                            <input class="form-control" type="text" id="askDate" v-model="askDate">
                        </div>
                        <div class="form-group">
                            <label for="SenderAddr">通知時間</label>
                            <input class="form-control" type="text" id="shipmentDate" v-model="shipmentDate">
                        </div>
                        <div class="form-group">
                            <label for="Memo">備註</label>
                            <textarea class="form-control" type="text" v-model="memo"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="CaseNum">CaseNum</label>
                            <input class="form-control" type="text" v-model="caseNum">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-target="#addOrderRefundModal" data-toggle="modal" data-dismiss="modal">上一步</button>
                    <button class="btn btn-success" v-on:click="addOrderRefund()">新增退貨單</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Custom/RefundIndex.js"></script>
    <script>
        $(function () {


            $('#askDate').datepicker();
            $('#shipmentDate').datepicker();

        });
    </script>
}

